---

---

<div class='grid gap-4 mx-auto mb-24 text-center justify-items-center w-fit'>
  <div class='justify-self-start'>
    <slot name='icon' />
  </div>
  <slot name='value' />
  <slot name='text' />
</div>
